@import "../../global.scss";

.about{
    background-color: $mainColor;
}

.about-banner {
    font-family: 'Space Mono', monospace;
    color: $greenColor;
}

.about-body {

    .about-left {
        font-family: 'Space Mono', monospace;
        color: $textColor;
    }
    .about-right {
        width: 80%;
        .me-jpg {
            width: 80%;
            max-height: 60%;
            object-fit: contain;
            float: right;
        }
    }
}

@media only screen and (min-width: 601px) {
    .about-banner {
        padding: 120px 64px 0px;
        font-size: 32px;
    }
    .about-body {
        margin: 32px 180px 0px 32px;
        display: flex;
        .about-left {
            padding: 20px;
            flex: 0.6;
            font-size: 14px;

            .about-skills {
                padding-top: 25px;
                color: $textColor;
                font-size: 12px;
            }
            .skill-list {
                padding-top: 15px;
                font-size: 12px;
                padding-left: 0px;
                display: grid;
                grid-template-columns: repeat(2, minmax(150px, 10px));
                color: $greenColor;
                position: relative;
            }

            .skill-list li::before {
                content: "▹  ";
                left: 0;
            }

            .about-extra {
                font-size: 12px;
                padding-top: 15px;
            }
        }
        .about-right {
            flex: 0.4;
        }
    }
}

@media only screen and (max-width: 600px) {
    .about{
        align-items: center;
        flex-direction: column;
    }
    .about-banner {
        text-align: center;
        padding-top: 15%;
        font-size: 18px;
    }
    .about-body {
        font-size: 12px;
        padding: 20px 30px;
        text-align: center;
        .about-description {
            padding-bottom: 15px;
        }
        .skill-list {
            padding-top: 5px;
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 10px));
            position: relative;
            text-align: start;
            color: $greenColor;
        }
        .skill-list li::before {
            content: "▹  ";
            left: 0;
        }
        .about-extra {
            padding-top: 15px;
        }
        
    }
    .about-right {
        padding-top: 24px;
        align-self: center;
        .me-jpg {
            width: 50%;
            height: 30vh;
            object-fit: contain;
        }
    }
}